.yep {
  margin:20px;
  margin-top: 20px;
}

.uk-card {
  width: 24%;
  margin: 10px 0.5%;
}

.shit-form .uk-card, .random-shit .uk-card {
  min-width: 100%;
}

.uk-button {
  margin: 0 10px;
}
.display-linebreak {
  white-space: pre-line;
}